@tailwind base;
@tailwind components;
@tailwind utilities;


.draggable {
    transform: none !important;
}

.cursor {
    display: inline-block;
}

.blinking {
    animation: blink 0.8s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0; 
    }
}
